{%extends 'base.html'%}
{%block body%}
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Dobova_-_Ljubljana" title="Železniška proga Dobova - Ljubljana">Dobova d. m. - Ljubljana</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Ljubljana_-_Jesenice_d.m." title="Železniška proga Ljubljana - Jesenice d.m.">Ljubljana - Jesenice d. m.</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Zidani_Most_-_%C5%A0entilj_d.m." title="Železniška proga Zidani Most - Šentilj d.m." class="mw-redirect">Zidani Most - Šentilj d. m.</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Pragersko_-_Sredi%C5%A1%C4%8De_d.m." title="Železniška proga Pragersko - Središče d.m.">Pragersko - Središče d. m.</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Ormo%C5%BE_-_Hodo%C5%A1_d.m." title="Železniška proga Ormož - Hodoš d.m." class="mw-redirect">Ormož - Hodoš d. m.</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Ljubljana_-_Se%C5%BEana_d.m." title="Železniška proga Ljubljana - Sežana d.m.">Ljubljana - Sežana d. m.</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Pivka_-_Ilirska_Bistrica_d.m." title="Železniška proga Pivka - Ilirska Bistrica d.m." class="mw-redirect">Pivka - Ilirska Bistrica d. m.</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Diva%C4%8Da_-_Koper" title="Železniška proga Divača - Koper">Divača - Koper</a></li>
{%endblock%}
