{%extends 'base.html'%}
{%block body%}
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Ljubljana_%C5%A0i%C5%A1ka_-_Kamnik_Graben" title="Železniška proga Ljubljana Šiška - Kamnik Graben">Ljubljana - Kamnik Graben</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Kranj_-_Naklo" title="Železniška proga Kranj - Naklo">Kranj - Naklo (tovorna)</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Celje_-_Velenje" title="Železniška proga Celje - Velenje">Celje - Velenje</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Grobelno_-_Rogatec_d.m." title="Železniška proga Grobelno - Rogatec d.m.">Grobelno - Rogatec d. m.</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Stranje_-_Imeno_d.m." title="Železniška proga Stranje - Imeno d.m." class="mw-redirect">Stranje - Imeno d. m.</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Maribor_-_Prevalje_d.m." title="Železniška proga Maribor - Prevalje d.m.">Maribor - Holmec d. m.</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Dravograd_-_Oti%C5%A1ki_Vrh" title="Železniška proga Dravograd - Otiški Vrh" class="mw-redirect">Dravograd - Otiški Vrh (tovorna)</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Ljutomer_-_Gornja_Radgona" title="Železniška proga Ljutomer - Gornja Radgona">Ljutomer - Gornja Radgona (tovorna)</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Lendava_-_Lendava_d.m." title="Železniška proga Lendava - Lendava d.m.">Lendava - Lendava d. m. (tovorna)</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Pre%C5%A1nica_-_Rakitovec_d.m." title="Železniška proga Prešnica - Rakitovec d.m.">Prešnica - Rakitovec d. m.</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Jesenice_-_Se%C5%BEana" title="Železniška proga Jesenice - Sežana">Jesenice d. m. - Sežana d. m.</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Nova_Gorica_-_Vrtojba" title="Železniška proga Nova Gorica - Vrtojba">Nova Gorica - Vrtojba (tovorna)</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Prva%C4%8Dina_-_Ajdov%C5%A1%C4%8Dina" title="Železniška proga Prvačina - Ajdovščina">Prvačina - Ajdovščina</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Kreplje_-_Repentabor" title="Železniška proga Kreplje - Repentabor">Kreplje - Repentabor (tovorna)</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Ljubljana_-_Metlika_d.m." title="Železniška proga Ljubljana - Metlika d.m.">Ljubljana - Rosalnice d. m.</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Sevnica_-_Trebnje" title="Železniška proga Sevnica - Trebnje" class="mw-redirect">Sevnica - Trebnje</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Grosuplje_-_Ko%C4%8Devje" title="Železniška proga Grosuplje - Kočevje">Grosuplje - Kočevje (tovorna)</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Novo_mesto_-_Stra%C5%BEa" title="Železniška proga Novo mesto - Straža">Novo mesto - Straža (tovorna)</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Maribor_Tezno_-_Maribor_Studenci" title="Železniška proga Maribor Tezno - Maribor Studenci">Maribor Tezno - Maribor Studenci</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Ljubljana_Zalog_-_Ljubljana_P3" title="Železniška proga Ljubljana Zalog - Ljubljana P3">Ljubljana Zalog - Ljubljana P3</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Ljubljana_Zalog_-_Ljubljana_P4" title="Železniška proga Ljubljana Zalog - Ljubljana P4">Ljubljana Zalog - Ljubljana P4</a></li>
<li><a href="https://sl.wikipedia.org/wiki/%C5%BDelezni%C5%A1ka_proga_Ljubljana_Zalog_-_Ljubljana_P5" title="Železniška proga Ljubljana Zalog - Ljubljana P5">Ljubljana Zalog - Ljubljana P5</a></li>
{%endblock%}
