{% extends 'base.html' %}
{% block body %}
	<h1>Kdo smo</h1>
	<p>
	<h1>Sodelujoči študenti:</h1>
	<li><b>Gašper Rus</b>, Fakulteta za gradbeništvo in geodezijo, Univerza v Ljubljani <br>
	<a class="hovertext" href="http://pokreativnipoti.fgg.uni-lj.si/media/mi/rusg.jpg" title="Gašper Rus">
	<img src="http://pokreativnipoti.fgg.uni-lj.si/media/mi/rusg.jpg" alt="Gašper Rus" style="width:200px"></a></li>
	<li><b>Jan Ratej</b>, Fakulteta za gradbeništvo in geodezijo, Univerza v Ljubljani <br>
	<a class="hovertext" href="http://pokreativnipoti.fgg.uni-lj.si/media/mi/ratejj.jpg" title="Jan Ratej">
	<img src="http://pokreativnipoti.fgg.uni-lj.si/media/mi/ratejj.jpg" alt="Jan Ratej" style="width:200px"></a></li>
	<li><b>Samo Saje</b>, Fakulteta za gradbeništvo in geodezijo, Univerza v Ljubljani <br>
	<a class="hovertext" href="http://pokreativnipoti.fgg.uni-lj.si/media/mi/sajes.jpg" title="Samo Saje">
	<img src="http://pokreativnipoti.fgg.uni-lj.si/media/mi/sajes.jpg" alt="Samo Saje" style="width:200px"></a></li>
	<li><b>Gašper Šmid</b>, Fakulteta za gradbeništvo in geodezijo, Univerza v Ljubljani <br>
	<a class="hovertext" href="http://pokreativnipoti.fgg.uni-lj.si/media/mi/smidg.jpg" title="Gašper Šmid">
	<img src="http://pokreativnipoti.fgg.uni-lj.si/media/mi/smidg.jpg" alt="Gašper Šmid" style="width:200px"></a></li>
	<li><b>Nejc Lombar</b>, Fakulteta za gradbeništvo in geodezijo, Univerza v Ljubljani <br>
	<a class="hovertext" href="http://pokreativnipoti.fgg.uni-lj.si/media/mi/lombarn.jpg" title="Nejc Lombar">
	<img src="http://pokreativnipoti.fgg.uni-lj.si/media/mi/lombarn.jpg" alt="Nejc Lombar" style="width:200px"></a></li>
	<li><b>Martin Klun</b>, Fakulteta za gradbeništvo in geodezijo, Univerza v Ljubljani <br>
	<a class="hovertext" href="http://pokreativnipoti.fgg.uni-lj.si/media/mi/klunm.jpg" title="Martin Klun">
	<img src="http://pokreativnipoti.fgg.uni-lj.si/media/mi/klunm.jpg" alt="Martin Klun" style="width:200px"></a></li>
	<li><b>Anže Cvenkel</b>, Fakulteta za strojništvo, Univerza v Ljubljani <br>
	<a class="hovertext" href="http://pokreativnipoti.fgg.uni-lj.si/media/mi/cvenkela.jpg" title="Anže Cvenkel">
	<img src="http://pokreativnipoti.fgg.uni-lj.si/media/mi/cvenkela.jpg" alt="Anže Cvenkel" style="width:200px"></a></li>
	<li><b>Gašper Cvenkel</b>, Fakulteta za strojništvo, Univerza v Ljubljani <br>
	<a class="hovertext" href="http://pokreativnipoti.fgg.uni-lj.si/media/mi/cvenkelg.jpg" title="Gašper Cvenkel">
	<img src="http://pokreativnipoti.fgg.uni-lj.si/media/mi/cvenkelg.jpg" alt="Gašper Cvenkel" style="width:200px"></a></li>
	<li><b>Nejc Demšar</b>, Fakulteta za strojništvo, Univerza v Ljubljani <br>
	<a class="hovertext" href="http://pokreativnipoti.fgg.uni-lj.si/media/mi/demsarn.jpg" title="Nejc Demšar">
	<img src="http://pokreativnipoti.fgg.uni-lj.si/media/mi/demsarn.jpg" alt="Nejc Demšar" style="width:200px"></a></li>
	<li><b>Simon Weiss</b>, Fakulteta za matematiko in fiziko, Univerza v Ljubljani <br>
	<a class="hovertext" href="http://pokreativnipoti.fgg.uni-lj.si/media/mi/weisss.jpg" title="Simon Weiss"><img src="http://pokreativnipoti.fgg.uni-lj.si/media/mi/weisss.jpg" alt="Simon Weiss" style="width:200px"></a></li>
	</p>
	<p>
	<h1>Posebna zahvala gre tudi našim mentorjem</h1>
	<li><b>doc. dr. Franc Sinur</b>, Fakulteta za gradbeništvo in geodezijo, Univerza v Ljubljani</li>
	<li><b>doc. dr. Primož Može</b>, Fakulteta za gradbeništvo in geodezijo, Univerza v Ljubljani</li>
	<li><b>izr. prof. dr. Jernej Klemenc</b>, Fakulteta za strojništvo, Univerza v Ljubljani</li>
	<li><b>prof. dr. Marko Nagode</b>, Fakulteta za strojništvo, Univerza v Ljubljani</li>
	<li><b>Gregor Gruden</b>, Inštitut za metalne konstrukcije</li>
	<li><b>dr. Leon Hladnik</b>, Razpon d.o.o.</li>
	</p>
	<p>Projekt delno financira Evropska unija, in sicer iz Evropskega socialnega sklada. Izvaja se v okviru neposredne potrditve operacije-programa »Po kreativni poti do praktičnega znanja« Operativnega programa razvoja človeških virov za obdobje 2007-2013 1. razvojne prioritete: Spodbujanje podjetništva in prilagodljivosti ter prednostne usmeritve 1.3 Štipendijske sheme.</p>
	<img src="http://pokreativnipoti.fgg.uni-lj.si/media/logo-fgg.jpg" alt="Fakulteta za gradbeništvo in geodezijo" style="height:50px">
	<img src="http://pokreativnipoti.fgg.uni-lj.si/media/logo-sklad.jpg" alt="Javni sklad za razvoj kadrov in štipendij" style="height:50px">
	<img src="http://pokreativnipoti.fgg.uni-lj.si/media/faks.png" alt="Evropska unija" style="height:50px">

<br>
{%for item in testis %}
        <img src="{{item.slika.url}}">
{%endfor %}

{% endblock %}
{% block top %}
{% if user.is_authenticated %}
        <h3>Pozdravljen, {{user.first_name}}!</h3>
        <hr><hr>
{%endif%}
{%endblock%}
{%block glava%}
<style type="text/css">
  a.hovertext {
    position: relative;
    width: 160px;
    text-decoration: none !important;
    text-align: center;
  }
  a.hovertext:after {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em 20px;
    width: 160px;
    background: rgba(0,0,0,0.8);
    text-decoration: none !important;
    color: #fff;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
  }
  a.hovertext:hover:after, a.hovertext:focus:after {
    opacity: 1.5;
  }

</style>
{%endblock%}
