{% extends 'base.html' %}
{% block body %}
<h1>Prijava</h1>

        <form id="login_form" method="post" action="/login/">
            {% csrf_token %}
            Uporabniško ime: <br> <input type="text" name="username" value="" size="50" />
            <br />
            Geslo: <br> <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" value="Prijavi se!" />
        </form>
{% endblock %}
{% block top %}
{% if user.is_authenticated %}
	<h3>Pozdravljen, {{user.first_name}}!</h3>
{%endif%}
{%endblock%}
