{% extends 'base.html' %}
{% block body %}
<form class="form-signup" action="/login/sign_up/" method="post">{% csrf_token %}
    <h2>Ustvarite račun</h2>
    <div class="fieldWrapper">
        <label>Ime</label><br>
        {{ form.first_name }}
    </div>    
    <br>
    <div class="fieldWrapper">
        <label>Priimek</label><br>
        {{ form.last_name }}
    </div>    
    <br>
    <div class="fieldWrapper">    
        {{ form.email.errors }}            
        <label>Elektronski naslov</label><br>
        {{ form.email }}
    </div>    
    <br>
    <div class="fieldWrapper">
    {{form.errors.values.0}}                
        <label>Uporabniško ime</label><br>
        {{ form.username }}
    </div>
    <br>
    <div class="fieldWrapper">        
        {{form.errors.values.1}}            
        <label>Geslo</label><br>                    
        {{ form.password1 }}
    </div>
    <br>
    <div class="fieldWrapper">           
        <label>Ponovite geslo</label><br>
        {{ form.password2 }}
    </div>            
    <br></br>
    <input type="submit" name="Registriraj se" class="btn btn-primary" value="Ustvari račun!">
</form>

{% endblock %}
{% block top %}
{% if user.is_authenticated %}
        <h3>Pozdravljen, {{user.first_name}}!</h3></p>
{%endif%}
{%endblock%}

